{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}

<div id="home_menu" class="row">
  <div class="large-12 columns">
    <a href="#" class="button right tiny">Join now</a>
    <a href="#" class="button right tiny secondary">Sign in</a>
  </div>
</div>
<div id="intro" class="row">
  <div class="large-12 columns">
    <img src="{{url_for('static', filename='images/splash.jpg')}}" />
    <h1 class="herd-logo">Herd</h1>
    <h2>
      The hassle free, UK certified, internet-ready ear-tags and cattle management system.
    </h2>
  </div>
</div>

<div class="row features">
  <div class="large-4 columns">
    <h4>Pay per cow</h4>
    <p>
      The more tags you buy
      the cheaper it gets!
    </p>
  </div>
  <div class="large-4 columns">
    <h4>UK Cattle Tracing System</h4>
    <p>
      Automatically register for 
      passports. Update the 
      UK Cattle Tracing System
      with a simple scan.
    </p>
  </div>
  <div class="large-4 columns">
    <h4>Herd management</h4>
    <p>
      Powerful tools for herd management.
      Know where your cattle are
      in real time.
    </p>
  </div>  
</div>

  <div class="large-12 columns">
    <div class="testimonial-wrap">
      <div class="row">
        <div class="small-1 large-1 columns testimonial">
          <div class="quote-marks">&#8220;</div>
        </div>
        <div class="small-11 large-11 columns testimonial">
          <div class="quote">
            <p>
              HERD has made moving my cattle so much simpler.
              It's easy to use and saved me time too!
            </p>
          </div>
          <div class="student">
            <div class="photo"> </div>
            <p>Jane Fielder</p>
            <p>Farmer, Somerset</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonial-wrap">
      <div class="row">
        <div class="small-1 large-1 columns testimonial">
          <div class="quote-marks">&#8220;</div>
        </div>
        <div class="small-11 large-11 columns testimonial">
          <div class="quote">
            <p>
              I now spend more time planning my business and
              less time filling out forms
            </p>
          </div>
          <div class="student">
            <div class="photo"> </div>
            <p>Arthur Penn</p>
            <p>Galloway</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row collapse">
  <div class="large-4 columns">
    <ul class="pricing-table left-side">
      <li class="title">Premium</li>
      <li class="price">&pound;150 a month</li>
      <li class="description">Plus &pound; 1.50 per cow</li>
      <li class="bullet-item">Unlimited users</li>
      <li class="bullet-item">5 scanners</li>
      <li class="bullet-item">Phone Support</li>
      <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>
  <div class="large-4 columns recommended">
    <ul class="pricing-table">
      <li class="title">Plus</li>
      <li class="price">&pound;95 a month</li>
      <li class="description">Plus &pound;2.50 per cow</li>
      <li class="bullet-item">Unlimited users</li>
      <li class="bullet-item">2 scanners</li>
      <li class="bullet-item">Online Support</li>
      <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>
  <div class="large-4 columns">
    <ul class="pricing-table right-side">
      <li class="title">Standard</li>
      <li class="price">&pound;55 a month</li>
      <li class="description">Plus &pound;2.50 per cow</li>
      <li class="bullet-item">1 user</li>
      <li class="bullet-item">2 scanners</li>
      <li class="bullet-item">Online Support</li>
      <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>
</div>  
{% endblock %}
